*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
  text-decoration: none;
  list-style: none;
}
html{
  scroll-behavior: smooth;
  transition: all 1s ease-in;
}
body{
  position: relative;
  background-color: #000;

}

h1{
  font-weight:500;
  font-size: 45px;
  line-height: 55px;
}

h2{
  font-weight:500;
  font-size: 35px;
  line-height: 45px;
}

h4{
  font-weight:400;
  font-size: 40px;
  line-height: 35px;
}

p{
  font-weight:400;
  font-size: 20px;
  line-height: 28px;
}


.navbar{
  /* position: fixed; */
  top:0;
  left:0;
  right: 0;
  z-index: 1000;
}

.navbar .container{
  padding: 1rem 6%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

 .logo{
  height: 40px;
  overflow: hidden;
}

 .logo a{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 3px;
}

 .logo a strong{
  font-family: 'Jost', sans-serif ;
  font-size: 30px;
  line-height: 30px;
  font-weight: 500;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -3px;
  display: flex;
  width: 50px;
}

.navbar ul{
  display: flex;
  gap: 1.5rem;
}

.navbar ul a{
  font-size: 22px;
  font-weight: 400;
  color: #ccc;
  text-transform: capitalize;
}

.navbar ul a:hover{
  color: #fff;
}

.categories {
  margin-top: 5rem;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.categories ul{
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: center;
  padding: 1rem 0rem;
  gap: 1rem;
}

.categories ul li, .categories ul li a{
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  padding: 10px 4px;
  color: #b2b2b2;
  text-transform: capitalize;
  cursor: pointer;
  border-bottom: 1px solid transparent;
}
.categories ul li.active, .categories ul li:hover, .categories ul li a.active, .categories ul li a:hover{
  color: #fff;
  border-bottom: 1px solid #fff;
}

.grid-wrapper{
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(3, minmax(250px,1fr));
  /* grid-auto-rows: 500px;
  grid-auto-flow: dense; */
}

.grid-wrapper a img{
  max-width: 100%;
  /* height: 100%; */
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.grid-wrapper a{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-wrapper a.img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
  width: 100%;
  background-color: #000;
}

.main-footer{
  padding: 4rem 6%;
  background-color: #00000044;
}

.main-footer .container{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.main-footer .container .box:nth-child(1){
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-footer .container .box{
  width: 25%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
}

.main-footer .container .box h3{
  font-size: 30px;
  font-weight: 500;
  color: #fff;
}


.main-footer .box p{
  color: #eee;
  font-size: 20px;
  max-width: 80%;
}


.main-footer .box ul{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.main-footer .box ul li{
  color: #eee;
  font-size: 20px;
  display: flex;
  gap: 0.5rem;
}

.main-footer .box ul li a{
  color: #eee;
  font-size: 20px;
}

.main-footer .box ul li i{
  color: #eee;
  font-size: 20px;
}



@media only screen and (max-width:450px) {
  section, footer, header{
    width: 100%;
    overflow: hidden;
  }
  .navbar ul a{
    font-size: 16px;
  }
  .navbar ul {
    gap: 10px;
  }
  .box{
    width: 100%;
    min-width: 95%;
  }
  .works ul{
    gap: 8px;
  }
  .works ul li{
    font-size: 14px;
  }
  .grid-wrapper{
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
  }
  .works .grid-wrapper a{
    grid-column: span 1;
    grid-row: span 2;
  }

  /* .newsletter .form{
    width: 100%;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }
  .newsletter .form input{
    min-width: 200px;
  }
  .newsletter .form .btn{
    min-width: 120px;
    font-size: 14px;
  }

  .contact .form-box{
    width: 100%;
  } */
}
